<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpErrors errorMode="Detailed" />

    <iisnode devErrorsEnabled="true" loggingEnabled="true" logDirectory="iisnode" />

    <handlers>
      <add name="iisnode" path="src/server.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="NodeRoute" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="src/server.js" />
        </rule>
      </rules>
    </rewrite>

    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>

  </system.webServer>
</configuration>
