name: Deploy to EKS

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      AWS_REGION: ${{ vars.AWS_REGION }}
      AWS_ACCOUNT_ID: ${{ vars.AWS_ACCOUNT_ID }}
      ECR_REPO: ${{ vars.ECR_REPO }}
      EKS_CLUSTER_NAME: ${{ vars.EKS_CLUSTER_NAME }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Login to AWS ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Create Image Tag
        id: meta
        run: |
          echo "sha_short=${GITHUB_SHA::7}" >> $GITHUB_OUTPUT
          echo "image_uri=${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/${ECR_REPO}:sha-${GITHUB_SHA::7}" >> $GITHUB_OUTPUT
      - name: Create Version File
        run: |
          BUILD_TIME=$(date -u +"%Y-%m-%dT%H:%M:%SZ")
          SHA="${GITHUB_SHA}"

          cat > src/version.json <<EOF
          {"git_sha":"${SHA}","build_time":"${BUILD_TIME}","runtime":"eks"}
          EOF
          
      - name: Build and Push Image
        run: |
          docker build -t project-atlas .
          docker tag project-atlas "${{ steps.meta.outputs.image_uri }}"
          docker push "${{ steps.meta.outputs.image_uri }}"

      - name: Install kubectl
        uses: azure/setup-kubectl@v4
        with:
          version: "latest"

      - name: Update kubeconfig & Set Env Vars
        run: |
          aws eks update-kubeconfig --region "${AWS_REGION}" --name "${EKS_CLUSTER_NAME}"
          kubectl set env deployment/project-atlas \
            GIT_SHA=${GITHUB_SHA} \
            BUILD_TIME=$(date -u +"%Y-%m-%dT%H:%M:%SZ") \
            RUNTIME=eks

      - name: Deploy to EKS
        run: |
          kubectl set image deployment/project-atlas api="${{ steps.meta.outputs.image_uri }}"
          kubectl rollout status deployment/project-atlas --timeout=180s

      - name: Show status
        run: |
          kubectl get pods -o wide
          kubectl get svc project-atlas-lb
